<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Digital Strategy, Performance Marketing & Creative Design | POSSIBLE</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/app.css">
  <noscript>

    <link rel="stylesheet" href="stylesheets/nojs.css">
  </noscript>
  <!--<noscript><link href="scss/style-nojs.css" rel="stylesheet" type="text/css"></noscript>-->
</head>
<body>

<header class="header">
  <div class="header__wrapper">
    <img src="images/logo.png" alt="Possible logo" class="header__logo">
    <p id="currentDate" class="header__date">2018</p>
  </div>

</header>

<nav class="topNav">
  <ul class="topNav__menu">

    <li class="topNav__element"><a href="#">Our Company</a></li>
    <li class="topNav__element"><a href="#">Our Work</a></li>
    <li class="topNav__element"><a href="#">Information</a></li>
    <li class="topNav__element"><a href="#">Contact Us</a></li>
  </ul>

</nav>


<main class="main">
  <div class="main__wrapper">
    <article class="main__content"><h1 class="main__textHeader">Welcome to Possible</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium amet aperiam architecto asperiores corporis dolor eos est facere fuga, impedit laudantium magnam magni modi nostrum nulla quas quia sed ullam.</p>
      <p>Corporis dolor eos est facere fuga, impedit laudantium magnam magni modi nostrum nulla quas quia sed ullam.</p>


      <h2 class="main__textSubheader">MEET THE TEAM</h2>

      <div class="gallery" id="gallery">
        <div class="gallery__container">


          <figure class="gallery__photo gallery__photo--active" >
            <img src="images/gallery/01.jpg" alt="Justin Cooke photo">
            <figcaption class="gallery__photoDescription">Justin Cooke<br/>
              CEO, POSSIBLE UK, LONDON</figcaption>
          </figure>
          <figure class="gallery__photo ">
            <img src="images/gallery/02.jpg" alt="James Black photo">
            <figcaption class="gallery__photoDescription">James Black<br/>
              CEO, POSSIBLE PL, LONDON</figcaption>
          </figure>
          <figure class="gallery__photo" >
            <img src="images/gallery/03.jpg" alt="Jack White photo">
            <figcaption class="gallery__photoDescription">John White<br/>
              CEO, POSSIBLE UK, LONDON</figcaption>
          </figure>
          <figure class="gallery__photo">
            <img src="images/gallery/04.jpg" alt="Martin Martens photo">
            <figcaption class="gallery__photoDescription">Martin Martens<br/>
              CEO, POSSIBLE HU, LONDON</figcaption>
          </figure>
          <figure class="gallery__photo">
            <img src="images/gallery/05.jpg" alt="Jack Moscow photo">
            <figcaption class="gallery__photoDescription">Jack Moscow<br/>
              CEO, POSSIBLE KR, SEUL</figcaption>

          </figure>
          <figure class="gallery__photo " >
            <img src="images/gallery/06.jpg" alt="Latrisha Menes photo">
            <figcaption class="gallery__photoDescription">Latrisha Menes<br/>
              UX DESIGNER, POSSIBLE USA, ATLANTA</figcaption>
          </figure>
          <figure class="gallery__photo " >
            <img src="images/gallery/07.jpg" alt="Mike Blue photo">
            <figcaption class="gallery__photoDescription">Mike Blue<br/>
              PRESIDENT, POSSIBLE HU, BUDAPEST</figcaption>
          </figure>
          <figure class="gallery__photo ">
            <img src="images/gallery/08.jpg" alt="Johnatan Jone photo">
            <figcaption class="gallery__photoDescription">Johnatan Jons<br/>
              DIRECTOR, POSSIBLE UK, LONDON</figcaption>
          </figure>
          <figure class="gallery__photo " >
            <img src="images/gallery/09.jpg" alt="Eleon Smith photo">
            <figcaption class="gallery__photoDescription">Eleon Smith<br/>
              DEVELOPER, POSSIBLE PL, KATOWICE</figcaption>
          </figure>
          <figure class="gallery__photo " >
            <img src="images/gallery/10.jpg" alt="Anna White photo">
            <figcaption class="gallery__photoDescription">Anna White<br/>
              CEO, POSSIBLE USA, NEW YORK</figcaption>
          </figure>
        </div>
        <div class="gallery__thumbnails">

          <button class="gallery__prev gallery__prev--disabled" id="prev" aria-label="Scroll to previous photos" disabled>

          </button>


          <div class="gallery__thumbsWrapper">
            <button class="gallery__thumbnail gallery__thumbnail--active">
              <img src="images/gallery/01_thumb.jpg" alt="Justin Cooke photo thumbnail">

            </button>
            <button class="gallery__thumbnail"><img src="images/gallery/02_thumb.jpg" alt="James Black photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/03_thumb.jpg" alt="Jack White photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/04_thumb.jpg" alt="Martin Martens photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/05_thumb.jpg" alt="Jack Moscow photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/06_thumb.jpg" alt="Latrisha Menes photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/07_thumb.jpg" alt="Mike Blue photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/08_thumb.jpg" alt="Johnatan Jone photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/09_thumb.jpg" alt="Eleon Smith photo thumbnail"></button>
            <button class="gallery__thumbnail"><img src="images/gallery/10_thumb.jpg" alt="Anna White photo thumbnail"></button>

          </div>
          <button class="gallery__next" id="next" aria-label="Scroll to next photos" >

          </button>
        </div>

      </div>
    </article>
    <aside class="main__sidebar">


      <h2 class="main__sideHeader">Lorem ipsum</h2>
      <img src="images/map.jpg" alt="World map">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    </aside>

  </div>
</main>

<footer class="footer">
  <nav class="botNav">
    <ul class="botNav__menu">

      <li class="botNav__element"><a href="#">Our company</a></li>
      <li class="botNav__element"><a href="#">Our work</a></li>
      <li class="botNav__element"><a href="#">Information</a></li>
      <li class="botNav__element"><a href="#">Join our newsletter</a></li>
      <li class="botNav__element"><a href="#">Email this page</a></li>
      <li class="botNav__element"><a href="#">Print this page</a></li>
      <li class="botNav__element"><a href="#">Contact us</a></li>
    </ul></nav></footer>
</body>
<!--<script src="http://code.jquery.com/jquery-3.3.1.js"></script>-->

<script src="javascripts/app.js"></script>
</html>






